/* General Demo Style */
body{
	font-family: Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif;
	background:url(bgnoise_lg.png);
	font-weight: 400;
	font-size: 15px;
	color: #3a2127;
	overflow: auto;
}
.logo {
	float: left;
}
#logohead {
position:absolute;
	width: 840px;
	height: 140px;
	margin: -110px 0 0 0;
	padding-left: 5px;
	z-index: 4;
	}
	.headertext {
	font-size: 28px;
	padding-top: 43px;
	text-align: right;
	z-index: 4;
	}
#paper {
		margin:120px auto;
		text-align: center;
		width: 928px; /* total computed width */
		zoom: 1;
	}

	#paper:before, #paper:after {
	  content: "";
	  display: table
	}

	#paper:after {
	  clear: both
	}

	/* --------------- */	

	#paper .item {
		font: 13px 'Lucida Sans', 'trebuchet MS', Arial, Helvetica;     
		background: #fff;      
		border: 1px solid #ddd;
		color: #333;
		padding: 20px;
		width: 800px;
		float: left;
		_display: inline; /* IE6 double margin fix */
		position: relative;
		margin: -6px 5px;
		-moz-box-shadow: 0 2px 2px -1px rgba(0,0,0,.3);
		-webkit-box-shadow: 0 2px 2px -1px rgba(0,0,0,.3);
		box-shadow: 0 2px 2px -1px rgba(0,0,0,.3);	
	}

	#paper .item:after {
	  z-index: -1; 
	  position: absolute; 
	  content: "";
	  bottom: 10px;
	  right: 4px;
	  width: 80%; 
	  top: 80%; 
	  -webkit-box-shadow: 0 12px 5px rgba(0, 0, 0, .3);   
	  -moz-box-shadow: 0 12px 5px rgba(0, 0, 0, .3);
	  box-shadow: 0 12px 5px rgba(0, 0, 0, .3);
	  -webkit-transform: rotate(3deg);    
	  -moz-transform: rotate(3deg);   
	  -o-transform: rotate(3deg);
	  -ms-transform: rotate(3deg);
	  transform: rotate(3deg);	
	}	
	
	
	/* --------------- */

	#paper .itemtitle{
		font-size: 45px;
	}

	/* --------------- */

	#paper ul {
		margin: 20px 0;
		padding: 0;
		list-style: none;
	}

	#paper li {
		padding: 10px 0;
	}
	#feed {
	
	width: 375px;
	height: 400px;
	float: right;
	border-left: 2px solid #2ec3ef;
	
}


#query {
	overflow-y: auto;
	overflow-x: hidden;
	text-align: left;
	margin-left: 25px;
	z-index: -10;
	height: 380px;
	
	}
	ul.tweet_list {
	position: relative;
	background: transparent;
	z-index: 0;

}
ul.tweet_list li {
		position: relative;
		background: transparent;
		border-bottom: 1px dashed #2ec3ef;
		padding-bottom: 20px;
}
.tweet_time {
font-size: 14px;
position: relative;
	margin-left: 5px;
	margin-top: -2px;
}
.tweet_time a:link {color:#000; text-decoration: none;}
.tweet_time a:visited {color:#000; text-decoration: none;}
.tweet_time a:hover {color:#000; text-decoration: none;}
	
.tweet_avatar img{
	position: relative;
}
.tweet_first {
	border-top: 1px dashed #2ec3ef;
}
.tweet_text {
font-size: 12px;
position: relative;
}

.tweet_text a:link {color:#2ec3ef; text-decoration:none;}
.tweet_text a:visited {color:#2ec3ef; text-decoration: none;}
.tweet_text a:hover {color:#2ec3ef; text-decoration: none;}
.tweet_hashtag {
	font-weight: bold;
}

	
	.copyright {
		float: right;
		padding: 20px 90px 0 0;
	}
	
	#barchart {
	overflow: hidden;
	width: 400px;
	height: 400px;
	float: left;
	
}
#barchart .bar { 
	display: inline-block; 
	width: 20px; 
	height: 75px;
	background-color: teal;
}
#barchart .axis {
	font-size: 10px;
}
#barchart .axis path, #barchart .axis line { 
	fill: none; 
	stroke: black; 
	shape-rendering: crispEdges;
}
#barchart .value { 
	text-align: right;
	font: 16px 'Lucida Sans', 'trebuchet MS', Arial, Helvetica;     
	font-weight: bold;
}
#barchart .name {
	text-align: right;
	font-family: sans-serif;
	font-size: 14px;
}
svg {
	float: left;
	position: relative;
	margin-left: 5px;
}
#map {
	width: 800px;
	
}
.button-map {
background: yellow;	

	float: center;
}
